/* overall */
h1 {
    font-family: poppins;
    font-size: 30px;    
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
h2 {
    font-size: 24px;
}
h2 ,h3 ,nav {
    font-family: poppins;
    text-align: center;
}
p {
    font-size: 14px;
    line-height: 22px;
    margin: 2em 0.5em 2em 0.5em;
}
figcaption {
    font-style: italic;
    font-size: small;
    font-weight: 400;
    color: rgb(127, 144, 172);
}
.responsive {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 0.5em;
    }
#section {
    margin: 1em 0em;
}
/* Body */
body {
    font-family: 'poppins', Helvetica, sans-serif;
}
/* Nav */
header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
	padding: 0;
}
nav ul {
    align-items: center;
    padding: 1em 1em;
    margin: 0 auto;
    display: inline-flex;
}
nav ul li {
    margin: 1em 0.1em;
    padding: 0.1em;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 0.7em 2em 0.7em 2em;
}
nav ul li a:hover {
    color: blue;    
    background-color: white;
    padding: 0.7em 2em 0.7em 2em;
    border: solid 0.2em blue;
}
.content {
    position: relative;
    margin-top: 210px;
}
/* About me */
#about {
    background-color: rgb(230, 249, 255);
    padding: 1em 1em 1em 1em;
}
.link {
    color: black;
}
.link a {
    color: black;
}
.link a:hover {
    color: blue;
}
#profileImage {
    border: solid white 0.2em;
    border-radius: 5em;
}
/* Projects */
section#projects ol {
    justify-content: center;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    padding: 0;
    margin: 1em;
}
section#projects ol li {
    list-style: none;
    margin: 0.5em;
}
.thumbnail img {
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 0.5em;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
}
/* Contacts */
#contact {
    background-color: rgb(230, 249, 255);
    padding: 2em 1em 2em 1em;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}
.table ,th {
    background-color: blue;
    color: white;
    text-align: left;
    text-align: left;
    border: solid white 0.1em;
    padding: 0.6em;
}
.detail ,td {
    font-family: 'poppins';
    background-color: rgb(216, 218, 219);
    padding: 0.6em;
    text-align: left;
    border: solid white 0.1em;
    margin: 2em 0em 2em 0em;
}
/* Footer */
.container {
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c c";
    column-gap: 1em;
    list-style: none;
    align-items: center;
}
.item-1 {
    grid-area: a;
    margin: 0.5em;
}
.item-1 ul li{
    display: inline;
    margin: 0em 1em 0em 1em;
}
.item-2, .item-3 {
    margin: 0.5em;
}
.item-2 {
    grid-area: b;
}
.item-2 ul li {
    display: inline;
    height: auto;
    width: auto;
    padding: 0.4em
}
.item-3 {
    grid-area: c;
}
span {
    text-align: right;
}
footer ul {
    padding: 0;
}
footer ul li {
    list-style: none;
}
footer ul li a {
    color: white;
    text-decoration: none;
}
footer ul li a:hover {
    color: lightblue;
}
footer * {
    color: white;
    background-color: blue;
    /*border: white solid 0.1em; */
}
/*buttons*/
button {
    color: rgb(55, 79, 89);
    text-decoration: none;
    background-color: white;
    padding: 0.7em 2em 0.7em 2em;
    font-family: poppins;
    border: solid 0.2em rgb(166, 207, 225);
    border-radius: 2em;
}
button:hover {
    color: white;
    background-color: rgb(97, 126, 138);
    padding: 0.7em 2em 0.7em 2em;
    border-radius: 2em;
}
/* incrementing button */
aside {
    font-size: 40px;
}
aside a:hover {
    background-color: rgb(230, 249, 255);
    border-radius: 2em;
    padding: 0.3em;
}
/* odd or even */
.even {
    color: blue;
}
.odd {
    color: gray;
}
/* list */
#numbers {
    list-style: none;
    column-gap: 0.1em;
    columns: 5;
    padding: 0;
}
#list {
    padding: 2em 1em 2em 1em;
    text-decoration: none;
}
/* add color to odd and even in table */
.evenNumber {
    background-color: rgb(238, 249, 255);
    color: rgb(97, 126, 138);
}
.oddNumber {
    background-color: rgb(202, 238, 255);
}
/* responsiveness color change for mobile portrait screen */
@media screen and (max-width: 320px) {
    body {
      background-color: rgb(104, 180, 255);
      font-size: 16px;
    }
}
/* responsiveness color change for tablet portrait screen */
@media screen and (min-width: 321px) and (max-width: 768px) {
    body {
      background-color: rgb(190, 190, 190);
      font-size: 16px;
    }
}